body {
    font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    "Microsoft YaHei", "微软雅黑";
    padding: 0;
    margin: 0;
    color: #DDD;
}

a {
    cursor:pointer; overflow:hidden; outline:none;
}

a:link {
    color:#DDD; text-decoration:none;
}

a:visited {
    color:#DDD; text-decoration:none;
}

a:hover {
    color:#999; text-decoration:none;
}

a:active, a:focus {
    color:#DDD; text-decoration:none;
}

ul {
    list-style: none;
}

#nav {
    position: relative;
    z-index: 9999;
    min-width: 1010px;
    height: 2.55556em;
    margin: 0 auto 1em;
    background: #444;
    background: rgba(0,0,0,0.6);
    font-size: 18px;
}

#nav ul {
    margin: 0 auto;
    padding: 10px 0;
    width: 980px;
    height: 45px;
}

#nav ul li {
    display: inline-block;
    width: 185px;
    text-align: center;
    vertical-align: middle;
}

#main {
    width: 980px;
    margin: 0 auto;
    height: 600px;
}

#logo {
    background-image: url('../img/audible-gmail.png');
    margin: 0 auto;
    height: 512px;
    width: 512px;
}

#download-links {
    margin: 0 auto;
    height: 200px;
}

.ios-download {
    background-image: url('../img/app-store-badge.png');
    float: left;
    display: block;
    height: 70px;
    width: 209px;
    margin: 0 35px 0 245px;
}

.android-download {
    background-image: url('../img/google-play-store-badge.png');
    float: left;
    display: block;
    height: 70px;
    width: 200px;
    margin: 0 220px 0 60px;
}